/* img{
    height: 500px;
} */
/* *{
    margin: 0;
    padding: 0;
} */
/* body html{
    margin: 0;
    padding: 0;
} */
.one button{
    padding: 20px; margin-bottom: 200px; margin-top: 50px; width: 200px; border-radius: 5px; background-color: #64A19D; border-style: none; color: white;
}
.one button:hover{
    background-color: black;
    color: #fff;
}
